.DS_Store
Cargo.lock
src/*/*/target
src/*/*/target/debug
src/*/*/target/release
src/*/*/target/doc
.rustrc_info.json

src/*/target
src/*/target/debug
src/*/target/release


src/target
src/target/debug
src/target/release